.jumbotron {
    background-color: rgb(199, 140, 211) ;
    color: black;

}

footer{
    padding: 10px 10px 0 10px;
    background: rgb(199, 140, 211);
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel{
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
}
.btn-reserva{
    width: 100%;
    
}